@media only screen and (max-width: 768px) {
    .responsive-tcenter {
        text-align: center;
    }

    .responsive-tstart {
        text-align: start;
    }

    .flex.flex-responsive {
        flex-direction: column;
    }

    .evos-page-section.evolutions-wrapper-container .single-evolution-card {
        max-width: 100%;
        padding: 0 20px;
    }

    .poke-home-background.animate .pokemons-wrapper img {
        width: 120px;
    }

    .pokemon-page.pokemon-details-page .details-card {
        width: 100%;
        margin: 0;
    }

    .pokemon-page.pokemon-details-page .pokemon-datas-page {
        padding: 0;
        max-width: 100%;
    }

    .pokemon-page.pokemon-details-page .pokemon-datas-page .details-text {
        width: 100%;
        margin: 0;
    }

    .pokemon-page.pokemon-details-page .pokemon-datas-page .details-text .rounded-box.first {
        width: 100%;
        margin: 0;
    }

    .pokemon-page.pokemon-details-page .pokemon-datas-page .flex-start.between {
        width: 100%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }


    .flex.between.poke-header {
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    .poke-header .back {
        position: relative;
        left: 0;
        padding: 0;
        top: 0;
    }

    .poke-header .input-div {
        width: auto;
        right: 0;
        position: relative;
        padding: 0;
    }

    .input-div.center-fix .flex.center.poke-home-form {
        gap: 25px;
    }
}