.details-card {
    padding: 10px 20px;
    padding-bottom: 30px;
    min-height: 80vh;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 25%;
    background-color: #fff;
    margin: 0 10px;
}
.details-card .tag {
    margin: 0;
    margin-right: -5px;
}
.details-text {
    width: 75%;
    margin: 0 20px;
}
.bg-top {
    background: linear-gradient(#e64d4d, transparent);
    z-index: 2;
}

.details-title-name {
    position: sticky;
    top: 79px;
    left: 0;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
}
.details-card .img-container {
    width: 100%;
    height: 200px;
    margin: 0 auto;
}
.img-container .detail-img {
    height: 190px;
    width: 75%;
}
.img-container .detail-img-move {
    height: 100px;
    width: 30%;
}
.flip-box {
    background-color: transparent;
    width: auto;
    height: 200px;
    perspective: 1000px;
}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}
.animated-artwork {
    width: 150px;
    height: 150px;
    padding: 12px;
}
.gender {
    width: 250px;
    height: 250px;
    padding: 12px;
}

.flip-box-front,
.flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-back {
    transform: rotateY(180deg);
}

.details-card .info-row {
    position: relative;
    margin: 0;
    padding: 10px 10px;
    font-size: 15px;
}
.details-card .info-row.line::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    left: 50%;
    border-bottom: 2px solid #e64d4d;
    transform: translate(-50%, 20px);
}
.details-card .info-row .info-name {
    font-weight: bold;
}
.details-card .info-row .info-name::after {
    content: ":";
    margin-left: 5px;
}
.tag-evolution {
    background-color: #e64d4d;
    color: #fff;
}
.tag-evolution:hover {
    background-color: #622727;
    color: #fff;
    padding: 6px 12px;
}

.fixed-width {
    width: 100px;
}
.trigger {
    position: absolute;
    top: 60px;
    margin: 0 10px;
}
.pad-30 {
    padding: 30px 0;
}

.arrow-right::after {
    content: " → ";
    display: inline-block;
    color: #000;
    font-size: 20px;
}

.base-stats {
    width: 100%;
    height: 40vh;
    padding: 0;
}

.fix {
    display: block;
    position: fixed;
    bottom: 50px;
    right: 20px;
}
